<!DOCTYPE html>
<html>

<head>
    <meta charset="utf8" />
    <title>SECRET WEB</title>
</head>

<body>
    <div class="bc">
        <div class="bf">
            <h1>W R I T E</h1>
            <input type="text" id="title" maxlength="255" />
            <textarea id="content" maxlength="2000"></textarea>
        </div>
        <hr />
        <div class="b">
            <div class="bc">
                <div class="bct"></div>
                <hr />
                <div class="bcc"></div>
            </div>
        </div>
    </div>
    <script>

    </script>
</body>

</html>